#demo {
	width: 800px;
	height: 500px;
	position: relative;
	margin: 0px auto;
	background: url("images/device.png") center center no-repeat;
	padding: 50px;
	font-size: 12px;
}

.frame {
	display: none;
}

.hitbox {
	background-color: rgba(0, 100, 255, .3);
	position: absolute;
	width: 200px;
	height: 100px;
	cursor: pointer;
}

.description {
	background-color: rgba(20, 20, 20, .9);
	color: white;
	position: absolute;
	width: 300px;
	padding: 10px;
}

#demo button {
	display: block;
}

button, a.backbutton{
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	color: #050505;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
}

.intro {
	background-color: transparent;
	color: #111111;
	font-size: 24px;
}

.jumpButtons {
	text-align: center;
	margin-bottom: 30px;
}

.jumpButtons .current {
	background: #444444;
	color: white;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5);
}